<div class="container  mt-lg">
<h2 class="main-title">Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mt-md">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field mt-md">
    <%= f.label :password %>
    <%# if @minimum_password_length %>
<!--    <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--    <%# end %><br />-->
    <p><%= f.password_field :password, autocomplete: "new-password" %></p>
  </div>

  <div class="field mt-md">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field mt-md">
    <%= f.submit "Зарегистрироваться", class: "button button-main"   %>
  </div>
<% end %>
</div>